.navbar {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  flex-grow: 1; /* Permite que el contenedor tome el espacio disponible */
  padding: 0 50px;
  background-color: #000;
  color: #fff;
}

/* Ahora mismo no se utiliza
.navbar a {
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
  font-size: 24px; !* Cambia este valor según el tamaño que desees *!
  line-height: 1.5; !* Ajusta el espacio entre líneas para mejor legibilidad *!
  font-weight: bold; !* Si quieres que el texto sea más grueso *!
}*/

.navbar .get-started {
  padding: 10px 20px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
  height: 65px;
}

.navbar .get-started:hover {
  background-color: #28a745;
  border-color: #28a745;
}
